<ion-view view-title="{{$root.Dict.CONFIRM_TITLE}}">
  <ion-content class="checkout">
    <div class="item item-divider">
      {{$root.Dict.CONFIRM_SUMMARY}}
    </div>
    <div class="padding">
      <label class="item item-input item-floating-label item-icon-right">
        <div class="form-control">
          <span>{{$root.Dict.TXT_PAYMENT_METHOD}}</span>
          <span class="pull-right">{{paymentmethod}}</span>
        </div>
      </label>
      <label class="item item-input item-floating-label item-icon-right" ng-if="false">
        <div class="form-control">
          <span>{{$root.Dict.TXT_SHIPPING_METHOD}}</span>
          <span class="pull-right" ng-bind-html="shipmethod"></span>
        </div>
      </label>
      <label class="item item-input item-floating-label item-icon-right">
        <div class="form-control">
          <span>{{$root.Dict.TXT_SUBTOTAL}}</span>
          <span class="pull-right" ng-bind-html="subtotal | currency:format:decimal">
                    </span>
        </div>
      </label>
      <label class="item item-input item-floating-label item-icon-right" ng-if="discAmount">
        <div class="form-control">
          <span>{{$root.Dict.TXT_COUPON_DISC}}</span>
          <span class="pull-right">(<span ng-bind-html="discAmount | currency:format:decimal"></span>)</span>
        </div>
      </label>
      <label class="item item-input item-floating-label item-icon-right">
        <div class="form-control">
          <span>{{$root.Dict.CONFIRM_SHIPCOST}}</span>
          <span class="pull-right" ng-bind-html="shipcost | currency:format:decimal">
                    </span>
        </div>
      </label>

      <label class="item item-input item-floating-label item-icon-right">
        <div class="form-control subtotal">
          <span><b>{{$root.Dict.TXT_TOTAL}}</b></span>
          <span class="pull-right" ng-bind-html="total | currency:format:decimal">
                    </span>
        </div>
      </label>
    </div>
    <div class="item item-divider">
      {{$root.Dict.CONFIRM_POLICY}}
    </div>
    <div class="padding rules">
      <ul>
        <li>Lorem ipsum dolor sit amet, ad case inani veritus sea, at debitis vituperata per. Usu at quem impedit voluptua. Ubique alterum
          no mei.
        </li>
        <li>Lorem ipsum dolor sit amet, ad case inani veritus sea, at debitis vituperata per. Usu at quem impedit voluptua. Ubique alterum
          no mei.
        </li>
        <li>Lorem ipsum dolor sit amet, ad case inani veritus sea, at debitis vituperata per. Usu at quem impedit voluptua. Ubique alterum
          no mei.
        </li>
      </ul>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-energized ion-ios-locked" ng-click="createOrder();">
      {{$root.Dict.TXT_PAY}} <span ng-bind-html="total | currency:format:decimal"></span>
    </button>
  </ion-footer-bar>
</ion-view>
