<ion-modal-view class="search">
    <ion-header-bar class="bar-dark">
        <div class="item-input-inset search-bar">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchParams.q">
            </label>
            <button class="button button-small icon ion-search" ng-click="search()">
            </button>
            <button class="button button-small icon ion-android-delete" ng-click="clearResults()">
            </button>
            <button class="button button-small pull-right" ng-click="closeModal()">Close</button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header has-footer">
        <div class="button-bar">
            <button ng-repeat="network in socialNetworks" class="button button-small" ng-click="toggleSocial(network)"
                ng-class="network.selected ? network.button_color : 'button-light'">
                <i class="icon" ng-class="[network.icon,network.selected ? 'light' : network.color]"></i>
            </button>
        </div>
        <div ng-if="data && data.length > 0">
            <div ng-repeat="post in data">
                <div class="postbuzz post-block-view" ng-click="selectItem(post)" ng-class="{selected: post.selected}">
                    <!-- <div class="post-social-icon googleplus-network-img" title="Posted in Google+"></div> -->
                    <div class="post-top-wrap">
                        <div class="userinfobuzz" ng-if="post.user">
                            <div class="imagebuzz" ng-if="post.user.image">
                                <img ng-src="{{post.user.image}}">
                            </div>
                        </div>
                        <div class="post-meta-wrap">
                            <div class="userlink">
                                <a target="_blank" ng-href="post.user.url">{{post.user.name}}</a>
                            </div>
                            <div class="post-meta-time">Posted {{post.postedDate | date: 'hh:mm a dd MMM yyyy'}}</div>
                        </div>
                    </div>
                    <div class="messagebuzz">
                        <span>{{post.text}}</span>
                    </div>
                    <div class="bigimagebuzz" ng-if=post.image>
                        <img ng-src="{{post.image}}">
                    </div>
                </div>

            </div>

        </div>

    </ion-content>
    <ion-footer-bar ng-if="data && data.length > 0">
        <button ng-disabled="!selectedPostsCount" ng-click="goNext()" class="button button-energized">Next</button>
    </ion-footer-bar>
</ion-modal-view>